.header__lang-link-text {
  text-decoration: none;
  font-family: "Inter", "Arial", sans-serif;
  color: white;
  font-weight: 400;
  font-style: normal;
  line-height: 28px;
  font-size: 24px;
}
.header__lang-link-text:hover {
  color: rgba(255, 255, 255, 0.8)
}

@media screen and (max-width: 767px) {
  .header__lang-link-text {
    font-size: 18px;
    line-height: 20px;
  }
}
