.page__container {
  min-width: 320px;
  max-width: 1184px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 28px 0px 24px;
}
@media screen and (max-width: 544px) {
  .page__container {
    padding-top: 16px;
  }
}
